html, body {
  height: 100%;
  margin: 0;
}

$colors: (
  white: #ffffff,
  black: #000000,
  grey1: #1d1e20,
  grey2: #505354,
  green: #50e3c2,
);

@function color($c) {
  @return map-get($colors, $c);
}

@font-face {
  font-family: 'The Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/V&A TheSansA6-4SemiLight.woff2') format('woff2'), url('../fonts/V&A TheSansA6-4SemiLight.woff') format('woff');
}

@mixin bpMinSmall {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin faderThumb {
  appearance: none;
  background: color(green);
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 4px 0 color(black);
  height: 16px;
  outline: none;
  width: 8px;
}

.layerstack {
  background: color(black);
	font-family: 'The Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 200;
  height: 100%;
  line-height: 1.43;
  outline: 0;
	position: relative;

  @include bpMinSmall {
    font-size: 14px;
  }

  &__osd {
    height: calc(100% - 100px);

    .openseadragon-canvas {
      outline: none;
    }
  }

  &__zoom-ctrls {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
	}

  &__zoom-in,
  &__zoom-out,
  &__fullscreen {
    background: color(white);
    border-radius: 50%;
    color: color(black);
    cursor: pointer;
    display: block!important;
    height: 32px;
    margin: 24px;
    position: relative;
    width: 32px;
    z-index: 1;

    &::before,
    &::after {
      background: currentColor;
      content: '';
      height: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 2px;
    }
  }

  &__zoom-in {
    &::after {
      transform: translate(-50%, -50%);
    }
  }

  &__zoom-out {
    margin: -12px 100% 0 24px;
  }

  &__fullscreen {
    border-radius: 4px;
    right: 0;
    position: absolute;
    top: 0;

    &::before {
      display: none;
    }

    &::after {
      background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="currentColor" d="M12.346 22.572l17.619 17.612 10.219-10.22-17.612-17.618L31.925 3H3v28.925l9.346-9.353zm10.226 65.082l17.612-17.619-10.22-10.219-17.618 17.612L3 68.075V97h28.925l-9.353-9.346zm54.856-75.308L59.816 29.965l10.22 10.219 17.618-17.612L97 31.925V3H68.075l9.353 9.346zm10.226 65.082L70.035 59.816l-10.219 10.22 17.612 17.618L68.075 97H97V68.075l-9.346 9.353z"/></svg>');
      height: 60%;
      opacity: .6;
      width: 60%;
    }

    :fullscreen & {
      border-radius: 50%;
    
      &::before {
        display: block;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        background: currentColor;
        height: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 2px;
      }
    }
  }

  &__drawer {
    background: color(grey1);

    :fullscreen & {
      bottom: 0;
      height: 100px;
      position: absolute;
      width: 100%;
    }
  }

  &__dash {
    margin: auto;
    max-width: 800px;
    padding: 35px 24px 24px;
  }

  &__fader,
  &__key {
    width: 100%;
  }

  &__fader {
    appearance: none;
    background: color(grey2);
    color: color(green);
    height: 8px;
    outline: none;
    position: relative;
    transition: background 450ms ease-in;
    z-index: 1;

    &::-webkit-slider-thumb {
      @include faderThumb;
    }

    &::-moz-range-thumb {
      @include faderThumb;
    }

    &::-ms-thumb {
      @include faderThumb;
    }
  }

  &__key {
    color: color(black);
    font-weight: 800;
    height: 20px;
    margin-top: -10px;
    position: relative;
  }

  &__keyline {
    border-right: 1px solid color(grey2);
    box-sizing: border-box;
    padding: 12px 2px 2px 0;
    position: absolute;
    text-align: right;
  }

  &__labels {
    color: color(white);
    padding: 34px 4px 10px;
  }

  &__label {
    cursor: pointer;
    display: flex;
    margin: 0 0 20px;
  }

  &__labelkey {
  }

  &__labeltext {
    margin-left: 10px;
    text-align: justify;
  }
}