@font-face {
  font-family: 'The Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/V&A TheSansA6-4SemiLight.woff2') format('woff2'), url('../fonts/V&A TheSansA6-4SemiLight.woff') format('woff');
}

@mixin bpMinSmall {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin faderThumb {
  appearance: none;
  background: var(--green, #50e3c2);
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 4px 0 var(--black, #000000);
  height: 16px;
  outline: none;
  width: 8px;
}

$margins: (
  small: 12px,
  medium: 24px
);

@function margin($size: medium) {
  @return map-get($margins, $size);
}

.raphael-viewer {
  --white: #ffffff;
  --black: #000000;
  --grey1: #1d1e20;
  --grey2: #505354;
  --grey3: #b7b8bd;
  --green: #50e3c2;
  background: var(--black, #000000);
	font-family: 'The Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.43;
  outline: 0;
	position: relative;

  @include bpMinSmall {
    font-size: 14px;
  }

  &__viewers {
    height: 500px;
    overflow: hidden;
    position: relative;

    :fullscreen & {
      height: calc(100vh - 160px);
    }
  }

  &__viewer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    transform: translateX(-100vw);
    transition: transform .2s ease-out, opacity .6s ease;
    width: 100%;

    &[active] {
      opacity: 1;
      transform: translateX(0);
    }

    #{&}[active] ~ & {
      opacity: 0;
      transform: translateX(100vw);
    }
  }

  &__osd {
    cursor: crosshair;
    flex: 0 1 100%;
    .openseadragon-canvas {
      outline: none;
    }
  }

  
  &__legend {
    background: var(--grey1, #1d1e20);
    color: var(--white, #ffffff);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 34px margin(small);

    @include bpMinSmall {
      padding-left: margin(medium);
      padding-right: margin(medium);
    }
  }

  &__label {
    order: 1;
    width: 100%;

    @include bpMinSmall {
      margin-left: auto;
      min-width: 340px;
      width: 34%;
    }
  }

  &__key {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    outline: none;
    width: 30%;

    @include bpMinSmall {
      margin-bottom: 0;
      width: 12%;

      #{&} + & {
        margin-left: 35px;
      }
    }
  }

  &__key-toggle {
    background: var(--grey3, #b7b8bd);
    border-radius: 12px;
    height: 24px;
    margin-top: 10px;
    position: relative;
    width: 44px;

    &::after {
      background: var(--white, #ffffff);
      border-radius: 50%;
      content: '';
      height: 20px;
      left: 2px;
      position: absolute;
      top: 2px;
      transition: transform 340ms;
      width: 20px;
    }
  }

  &__key.active &__key-toggle {
    background: var(--green, #50e3c2);

    &::after {
      transform: translateX(20px);
    }
  }

  &__zoom-ctrls {
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
	}

  &__zoom-in,
  &__zoom-out,
  &__fullscreen {
    background: var(--white, #ffffff);
    border-radius: 50%;
    color: var(--black, #000000);
    cursor: pointer;
    display: block;
    height: 32px;
    margin: margin(small);
    outline: none;
    position: relative;
    width: 32px;
    z-index: 1;

    &::before,
    &::after {
      background: currentColor;
      content: '';
      height: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 2px;
    }

    @include bpMinSmall {
      margin: margin(medium);
    }
  }

  &__zoom-in {
    &::after {
      transform: translate(-50%, -50%);
    }
  }

  &__zoom-out {
    margin-top: 0;
  }

  &__fullscreen {
    border-radius: 4px;
    display: flex;
    right: 0;
    position: absolute;
    top: 0;

    &::before,
    &::after {
      display: none;
    }

    svg {
      fill: var(--grey1, #1d1e20);
      height: 60%;
      margin: auto;
      opacity: .6;
      width: 60%;
    }

    :fullscreen & {
      border-radius: 50%;

      svg {
        display: none;
      }

      &::before {
        display: block;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        background: currentColor;
        display: block;
        height: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 2px;
      }
    }
  }

  &__drawer {
    background: var(--grey1, #1d1e20);
    padding-bottom: margin(small);
    position: absolute;
    width: 100%;

    @include bpMinSmall {
      padding-bottom: margin(medium);
    }
  }

  &__menu {
    align-items: center;
    border-top: 1px solid var(--white, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 margin(small);
    overflow: auto;
    padding: 14px 3px;

    @include bpMinSmall {
      margin-left: margin(medium);
      margin-right: margin(medium);
    }
  }

  &__menu-tab {
    border: 1px solid var(--white, #ffffff);
    cursor: pointer;
    display: block;

    #{&} + & {
      margin-left: margin(medium);
    }

    &[active] {
      border: 4px solid var(--green, #ffffff);
      margin-right: -6px;
      margin-top: -6px;
      transform: translate(-3px, 3px);
    }
  }
}